// Custom styles.
body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.main-inner { 
    background: #fff;
    opacity: 0.9;
}