// Custom styles.
@media screen and (min-width:1000px) {
   body {
   background-image:url(/images/bg.jpg);
   background-repeat: no-repeat;
   background-attachment:fixed;
   background-size:100% 100%;
   }
}
